.navbar {
  width: 100%;
  background-color: #dadada;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #e50914;
  color: #fff;
}

.nav .logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav ul li {
  margin: 0 10px;
}

.nav ul li a {
  color: #fff;
  text-decoration: none;
}

.nav form {
  display: flex;
  align-items: center;
}

.nav form input {
  padding: 10px;
  border: none;
  background-color: #fff;
  color: #000;
}

.nav form button {
  padding: 10px;
  background-color: #e50914;
  color: #fff;
  border: none;
  cursor: pointer;
}
