* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
}
.movies {
  min-height: 33vw;
  display: flex;
  width: 98vw;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* background-color: tomato; */
}
.movies::-webkit-scrollbar {
  height: 10px;
  /* background-color: rgb(63, 63, 63); */
  background: linear-gradient(
    to bottom,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red
  );
}
.movies::-webkit-scrollbar-thumb {
  /* height: 5px; */
  background-color: rgb(185, 184, 184);
  border-radius: 100px;
}
.cnt,
.cnt2 {
  cursor: pointer;
  height: 25vw;
  width: 12vw;
  margin: 1vw 0vw 1vw 1vw;
  background-color: rgba(48, 48, 48, 0.541);
  border-radius: 5px;
  -webkit-transition: all 2s cubic-bezier(0.5, -0.005, 0.2, 1) !important;
  transition: all 2s cubic-bezier(0.19, 1, 0.22, 1) !important;
}
.cnt3 {
  height: 45vw;
  width: 85vw;
  display: flex;
  margin: 1vw 0vw 1vw 1vw;
  background-color: rgba(48, 48, 48, 0.541);
  border-radius: 5px;
  -webkit-transition: all 2s cubic-bezier(0.5, -0.005, 0.2, 1) !important;
  transition: all 2s cubic-bezier(0.19, 1, 0.22, 1) !important;
}
.cnt3 img {
  border-radius: 0.5vw;
  margin: 0.5vw;
}
.allimg {
  height: 65%;
  width: 100%;
  object-position: center;
  object-fit: cover;
  border-radius: 0.5vw;
}
.cnt:hover {
  transform: scale(1.09);
}
ion-icon[name="star"] {
  color: gold;
}
ion-icon[name="play"] {
  color: rgb(216, 216, 216);
  margin-right: 0.6vw;
}
ion-icon[name="add"] {
  font-size: 1vw;
}
.content {
  height: 9vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.5vw;
}
.singlecontent {
  height: 40vw;
  width: 50vw;
  padding: 1vw;
}
.trailer {
  height: 1vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  /* margin-top: 0.5vw; */
  border-radius: 0.3vw;
  font-size: 1vw;
}
.date {
  color: rgba(255, 255, 255, 0.363);
}
.star,
.date,
.title {
  font-size: 0.9vw;
}
.singletitle {
  font-size: 2vw;
}
.watchlist {
  color: #5799ef;
  font-size: 0.8vw;
  height: 1vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(88, 88, 88, 0.178);
  /* margin-top: 0.5vw; */
  border-radius: 0.3vw;
  cursor: pointer;
}
h1 {
  display: flex;
  align-items: center;
  font-family: Gilroy;
  font-size: 3vw;
  padding: 1vw;
}
a {
  text-decoration: none;
  color: white;
  border-radius: 0.3vw;
  -webkit-transition: all 2s cubic-bezier(0.5, -0.005, 0.2, 1) !important;
  transition: all 2s cubic-bezier(0.19, 1, 0.22, 1) !important;
}
a:hover {
  background-color: rgb(56, 56, 56);
}
h2 {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  color: white;
  background-color: aqua;
}
